* {
  margin: 0;
}
body {
  height: 100vh;
  font-family: 'Open Sans';
  background-color: brown;
  color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
