* {
  margin: 0;
}
body {
  height: 100vh;
  font-family: 'Open Sans';
  background-color: #02438a;
  color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
